<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> E-PROC JMTO </title>
	<link rel="stylesheet" href="{$host}__assets/plugin/template/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script src="{$host}__assets/plugin/template/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="{$host}__assets/plugin/template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{$host}__assets/css/style-login.css" media="screen" type="text/css" />
	<style type="text/css">
		body { 
		  background: url({$host}__assets/img/bg_login.png) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  overflow-y: hidden !important;
		}
	</style>
</head>
<body>
	<div class="container"> 
		<h1 class="welcome text-center">&nbsp;</h1>
        <div class="card card-container">
			<br/>
			<div class="login-help">
				<center><b>E-Procurement Penyedia Jasa</b></center>
			</div>
			
				<center><img src="{$host}__assets/img/logo.png"  /></center>
			
			<hr>
            <form name='frmLogin' class="form-signin" action="{$host}login" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <p class="input_title">UserName</p>
                <input type="text" id="user" class="login_box" name="user" placeholder="" required autofocus>
                <p class="input_title">Password</p>
                <input type="password" id="pwd" name="pwd" class="login_box" placeholder="" required>
                <div id="remember" class="checkbox">
                   {if isset($error)}
						<div style="text-align:center;margin-top:30px">
							<span style="color:red;"><b><i>{$error}</i></b></span>
						</div>
					{/if}	
                </div>
                <button class="btn btn-lg btn-primary" type="submit">Login</button>
				<a href="{$host}LupaPwd" target="__blank">Lupa Password</a>
            </form><!-- /form -->
			
        </div><!-- /card-container -->
    </div><!-- /container -->
</body>
</html>