<section id="beranda" class="home-section paddingbot-60">
      <div class="container marginbot-50">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <!--<div class="section-heading text-center">
                <h2 class="h-bold">Our facilities</h2>
                <p>Ea melius ceteros oportere quo, pri habeo viderer facilisi ei</p>
              </div>-->
            </div>
            <!--<div class="divider-short"></div>-->
          </div>
        </div>
      </div>
	  <div class="container">
       <div class="col-lg-12">
			<center>
			<div class="box-info">
				<h1 style="font-size:30px;font-weight:bold;">WARNING !!!</h1>
				<h1 style="font-size:20px;font-weight:bold;">{$msg}</h1>
				<br />
				<img height="150px" align="middle" src="{$host}__assets/img/no_access.png">
			</div>
			<center>
		</div>
	</div>
</section>