    <section id="beranda" class="home-section paddingbot-60">
      <div class="container marginbot-50">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow fadeInDown" data-wow-delay="0.1s">
            </div>
          </div>
        </div>
      </div>

      <div class="container">
       <div class="col-lg-12">
			<form class="form-horizontal" id="form_{$acak}" url="{$host}KirimSanggahan" method="post" enctype="multipart/form-data">
			<input type="hidden" name="eproc_pengadaan_id" value="{$projek.id}">
			<input type="hidden" name="eproc_sanggah_id" value="{$projek.id_sanggah}">
			<input type="hidden" name="drt_peserta_id" value="{$auth.id}">
			<input type="hidden" name="sts_crud" value="{$sts_crud|default:'add'}">
			<table class="table">
				<tr>
					<td style="width:200px;">No. Pengadaan</td>
					<td>:</td>
					<td>{$projek.nomor_pengadaan}</td>
				</tr>
				<tr>
					<td style="width:200px;">Nama Pengadaan</td>
					<td>:</td>
					<td>{$projek.nama_pengadaan}</td>
				</tr>
				<tr>
					<td style="width:200px;">Unit</td>
					<td>:</td>
					<td>{$projek.description}</td>
				</tr>
				<tr>
					<td style="width:200px;">Jenis Dokumen</td>
					<td>:</td>
					<td>{$projek.jenis_dokumen}</td>
				</tr>
				<tr>
					<td style="width:200px;">Evaluasi Penawaran</td>
					<td>:</td>
					<td>{$projek.evaluasi_penawaran}</td>
				</tr>
				
				<tr>
					<td style="width:200px;">Tahap Saat Ini</td>
					<td>:</td>
					<td>{$projek.tahapan}</td>
				</tr>
				<tr>
					<td style="width:200px;">Tgl Mulai Sanggah</td>
					<td>:</td>
					<td><b>{$projek.tgl_mulai_sanggah}</b></td>
				</tr>
				<tr>
					<td style="width:200px;">Tgl Akhir Sanggah</td>
					<td>:</td>
					<td><b>{$projek.tgl_akhir_sanggah}</b></td>
				</tr>
				<tr>
					<td style="width:200px;">Sanggahan</td>
					<td>:</td>
					<td>
						<table class="table">
							<tr>
								<td style="width:200px;">Nama Rekanan</td>
								<td style="width:10px;">:</td>
								<td>{$auth.nm_perusahaan}</td>
							</tr>
							<tr>
								<td style="width:200px;">Terkait Sanggahan</td>
								<td style="width:10px;">:</td>
								<td>
									{if $sts_crud|default:'add' eq 'add'}
									<select name="jenis_sanggah">
										<option value="Harga">Harga</option>
										<option value="Teknis">Teknis</option>
									</select>
									{else}
									{$dt.jenis_sanggah|default:''}
									{/if}
								</td>
							</tr>
							<tr>
								<td style="width:200px;">File Sanggah</td>
								<td style="width:10px;">:</td>
								<td>{if $sts_crud|default:'add' eq 'add'}<input type="file" name="file" id="file_{$acak}">{else}{$dt.file|default:''} (Menunggu Konfirmasi Panitia){/if}</td>
							</tr>
							{if $sts_crud|default:'add' eq 'add'}
							<tr>
								<td style="width:200px;">Security Code</td>
								<td style="width:10px;"></td>
								<td>
									<div class="col-sm-6" id="imgVRCaptha" style="font-family: inherit; padding-bottom: 5px; background-repeat: no-repeat; background-position: 0px 0px; text-indent: 120px;">
									  <img onClick="refreshCaptcha('imgVRCaptha');" style="cursor: pointer;" src="{$host}__assets/plugin/easyui/themes/icons/reload.png">&nbsp;
									  <input id='edVRCaptcha' name='edVRCaptcha'  type='text' size='10' style="width: 80px; height: 24px; border: 1px solid #99bbe8;" class="validasi"/>
									</div>
								</td>
							</tr>
							{/if}
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<p>
							* File Sanggah Berisikan JAMINAN SANGGAHAN dan Dokumen Sanggah yang berada didalam satu file<br>
							* File Sanggah Berextentsi ZIP/RAR file<br>
							* File Sanggah dapat dikirimkan selama masa sanggah
						</p>
					</td>
				</tr>
			</table>
			</form>
			{if $sts_crud|default:'add' eq 'add'}
			<center>
				<a href="javascript:void(0);" class="btn btn-primary" id="upl_{$acak}">Upload Dokumen Sanggahan</a>
			</center>
			{/if}
			
        </div>
        </div>
      </div>
    </section>
<script>
		refreshCaptcha('imgVRCaptha');
		$('#upl_{$acak}').bind('click',function(){
			var ext = $('#file_{$acak}').val().substr( ($('#file_{$acak}').val().lastIndexOf('.') +1) );
				if(ext.toUpperCase()!='ZIP' && ext.toUpperCase()!='RAR' ){	
					$.messager.alert('EPROC-APP',"File Penawaran Harus ZIP/RAR",'error');
					return false;
				}
				$.get(host+'webpage/checkCaptcha/'+$('#edVRCaptcha').val(), function(resp){
					if(resp=='sama'){
						submit_form('form_{$acak}',function(r){
							if(r==1){
								winLoadingClose();
								$('#judul_nya').html('Upload Dokumen Penawaran');
								$('#isi_nya').html('Terima Kasih Dokumen Sanggah Telah Kami Terima <br> Hasil Evaluasi  Akan Kami Kirimkan Melalui Email Atau Website Kami.');
								$('#modal_nya').modal('show');
								setTimeout(function(){ window.location.href = '{$host}'; }, 5000);
							}else{
								winLoadingClose();
								$.messager.alert('EPROC-APP',"Gagal Upload Penawaran",'error');
								console.log(r);
							}
						});
					}else{
						refreshCaptcha('imgVRCaptha');
						$.messager.alert('EPROC-APP',"Random text you are entered is wrong. Please try again!",'warning');
					}
					});
		});
</script>